# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example


# Docker
db_data/

# Archivos de Sistema y Editores
.vscode/
.DS_Store
Thumbs.db

# Bases de datos locales
*.db
*.log

# Archivos temporales de npm
npm-debug.log*

# Monorepo build artifacts & cache
dist/
.astro/
.wrangler/