@import "/style/components/containers.css";

body{
    margin: 0;
    background-color: #2D323B;
    font-family: "Roboto Mono", monospace;
    color: #FFF9D1;
    font-size: 15px;
    padding: 1em;
}


h2{
    color: #2ac6ff;
    font-size: 16px;
}

