@import "/style/components/containers.css";
@import "/style/components/icons.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2D323B;
    font-family: "Roboto Mono", monospace;
    color: #FFF9D1;
    font-size: 15px;
    line-height: 1.6;
}


@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
}

