.top-button{
    position: relative;
    width: 128px;
    height: 130px;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2 ease;
    overflow: hidden;
}

.top-button:hover{
    transform: translateY(-3px);
    filter: brightness(1.1);
}

.top-button:active{
    transform: scale(0.95);
}

.card-base{
    position: absolute;
    inset: 0;
    background: rgba(217,217,217,0.05);
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.4);
    z-index: 1;
    overflow: hidden;
}
.card-overlay{
    position: absolute;
    left: 0;
    top: 49px;
    width: 128px;
    height: 81px;
    background: rgba(148, 147, 147, 0.29);
}